@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-accent: #333333;

  --font-sans: var(--font-ibm-sans), "Helvetica", ui-sans-serif, system-ui;
  --font-mono: var(--font-ibm-mono), monospace;

  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  --tracking-tight: -0.03em;
  --tracking-widest: 0.2em;
}

/* The Magic Switch */
.invert-mode {
  filter: invert(1) hue-rotate(180deg);
  background: #000;
  /* Prevents white flashes */
}

/* Prevent images/videos from being inverted */
.invert-mode img,
.invert-mode video {
  filter: invert(1) hue-rotate(180deg);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

* {
  border-radius: 0 !important;
  box-shadow: none !important;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom transitions for Framer Motion if needed */
.page-transition-wrapper {
  width: 100%;
  height: 100%;
}